h5 {
	margin: 0;
}

.row {
	margin-top: 10px;
}

.rightAligned {
	float: right!important;
}

#results {
	margin: 6px auto;
	width: 86px;
}

#downloadBtn {
	float: left;
}

#clearTable {
	float: right;
}

/* -- STYLE FOR $ IN INPUT -- */
.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}