{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Cost Analysis Calculator</h1>

<div class='container'>
	<form action='/send' method="post">
		<label for="Number One">Cost:</label>
		<input type="text" placeholder="Cost" name="cost">

		<label for="Number Two">Revenue:</label>
		<input type="text" placeholder="Revenue" name="revenue">

		<input type="submit" value="Calculate" name="submit">

	</form>

	<p>Cost: {{ cost }}</p>

	<p>Revenue: {{ revenue }}</p>

	<p>Profit: {{ sum }}</p>

	<p>Margin: {{ margin }}</p>

</div>
{% endblock %}