{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
	
	<div class="row">
		<div class="col">
			<div class='card bg-light'>

				<div class='card-header text-center'>
					<h5>COST ANALYSIS CALCULATOR</h5>
				</div>

				<div class="card-body">

					<form action='/' method="post">

						<div class="form-group">
							<label for="Number One">Cost:</label>
							<input class="form-control" type="text" placeholder="Cost" name="cost">
						</div>

						<div class="form-group">
							<label for="Number Two">Revenue:</label>
							<input class="form-control" type="text" placeholder="Revenue" name="revenue">
						</div>

						<div class="form-group">
							<input class='btn btn-success' type="submit" value="Calculate" name="submit">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class='card bg-light'>

				<div class='card-header text-center'>
					<h5>RESULTS</h5>
				</div>

				<div class="card-body">

					<p>Cost: {{ cost }}</p>

					<p>Revenue: {{ revenue }}</p>

					<p>Profit: {{ sum }}</p>

					<p>Margin: {{ margin }}</p>

				</div>
			</div>

			<div class="row">
				<div class="col">
					<a class='btn btn-success' href="/data" download="margins.csv">Download As CSV</a>
				</div>
			</div>

		</div>
	</div>

</div>
{% endblock %}