{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
	
	<div class="row">
		<div class="col">
			<div class='card bg-light'>

				<div class='card-header text-center'>
					<h5>COST ANALYSIS CALCULATOR</h5>
				</div>

				<div class="card-body">

					<form action='/' method="post">

						<div class="form-group">
							<label for="Number One">Name:</label>
							<input class="form-control" type="text" placeholder="Product Name" name="product">
						</div>

						<div class="form-group">
							<label for="Number One">Cost:</label>
							<input class="form-control" type="text" placeholder="Cost" name="cost">
						</div>

						<div class="form-group">
							<label for="Number Two">Revenue:</label>
							<input class="form-control" type="text" placeholder="Revenue" name="revenue">
						</div>

						<div class="form-group">
							<input class='btn btn-success' type="submit" value="Calculate" name="submit">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class='card bg-light'>

				<div class='card-header text-center'>
					<h5>RESULTS</h5>
				</div>

				<div class="card-body">

					<div class="table-responsive-lg">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Cost</th>
									<th scope="col">Revenue</th>
									<th scope="col">Profit</th>
									<th scope="col">Margin</th>
								</tr>
							</thead>

							<tbody>
								{% for item in items %}
								<tr>
									<td>{{ item[0] }}</td>
									<td>{{ item[1] }}</td>
									<td>{{ item[2] }}</td>
									<td>{{ item[3] }}</td>
									<td>{{ item[4] }}</td>
									<td>
										<!-- <form method="POST" action="./delete" style="display: inline"> -->
											<a href="/delete?id={{ item[0] }}" class="btn btn-danger" value="Delete">DELETE</a>
										<!-- </form> -->
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col">
					<a class='btn btn-success' href="/data" download="margins.csv">Download As CSV</a>
				</div>
				<div class="col">
					<a class='btn btn-success' id="clearTable" href="#">CLEAR TABLE</a>
				</div>
			</div>

		</div>
	</div>

</div>
{% endblock %}